
        body{background-color:#FAEAB1;}
        hr{border-color: rgb(125, 74, 7); border-style: dotted none none;border-width: 5px; width: 10%;}
        h1{color: #4a3503;}
        h2{color: rgb(102, 25, 25);}
        h3{color: brown;}
        thead{color: rgb(98, 50, 50);}
        
